<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="img">
    <img src="https://static.theprint.in/wp-content/uploads/2017/08/dreamstime_m_313433794-e1566977971693.jpg" width="100%vw" height="300"/></div>

    
    <div class="form">
    <h1>Lawyer Registration Form</h1>
        <form action="/register" method="POST">
        <div class="first">
    <input type="text" id="first" name="firstname" placeholder="First Name *"></div>
    <div class="last">
    <input type="text" id="last" name="Last_name" placeholder="Last Name *"></div>
    <div class="email">
    <input type="text" id="email" name="Email" placeholder="Your Email *"></div>
    
    <div class="gender">
        <input type="radio" id="male" name="gender" value="Male">Male
        <input type="radio" id="female" name="gender" value="Female">Female<br>
    </div>
    <div class="aadhar">
        <input type="number" id="aadhar" name="AadharNumber" placeholder="Aadhar number*"></div>
        <div class="phone">
        <input type="number" id="phone" name="PhoneNumber" placeholder="Your phone number *"></div>
        <div class="license">
        <input type="number" id="lawyer" name="Lawyer_License_number" placeholder="Lawyer license number*"></div>
        <div class="age">
        <input type="number" id="age" name="Age" placeholder="Enter Your Age *"></div>
        <div class="password">
        <input type="password" id="password" name="password" placeholder="Password*"></div>
        <div class="confirm">
        <input type="password" id="confirm" name="confirmpassword" placeholder="Confirm Password *"></div>
        <div class="add">
        <input type="text" id="add" name="Address" placeholder="Enter your address*"></div>
        <div class="btn">
        <button type="submit" id="btn">Register</button></div>
    
</form>

    </div>

    
</body>
</html>